.cards{
    display: flex;
    align-items: center;
    width: 100%;
}

.card12{
    align-content: center;
    margin: 3em 0em;

}


.card__descrição{
    margin: 0.5em;
}

#card, #card-2{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2em 1em;
    padding: 1em;
    width: 100%;
}

.descrição__titulo{
    text-align: center;
    color: var(--rosa);
    font-size: 18px;
    font-weight: 700;

}

.descrição__texto{
    font-size: 14px;
    margin: 0.5em;
    text-align: center;
    color: var(--rosa);
}

@media screen and (min-width:1024px){

    #card, #card-2{
        width: 100%;

    }

    .card12{
        width: 60%;
    }
}


@media screen and (min-width:1024px){

    .descrição__titulo{
        font-size: 32px;
    }

    .descrição__texto{
        font-size: 16px;
    }

    .descrição{
        margin-right: 2em;
    }

    #card, #card-2{
        width: 40%;
        margin-left: 3em;
    }
}